<style>
    img.centered-img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  padding: 11px;
    }
</style>

<!-- this extra section is just here to add the green bar below the navbar -->
<section class="success" style="padding-top: 60px; padding-bottom: 60px"></section>

<!-- About Section -->
<section id="subjects">
    <div class="container">
	  <!-- title -->
	  <div class="row">
		<div class="col-lg-12 text-center">
		    <h2>About</h2>
		    <hr class="star-primary">
		</div>
	  </div>
	  
	  <!-- Logo -->
	  <div class="row">
		<div class="col-lg-12 text-center">
		    <img class="centered-img" src="img/free-study-logo.png" alt="free study logo" style="height: 180px">
		</div>
	  </div>
	  
	  <!-- Content -->
	  <div class="row">
		<div class="col-lg-12">
		    <p>
			  <b>T</b>oday's technology allows us to take learning into
			  our own hands. Here at <span style="color: #ff9800">Free Study</span>, we seek to help you do
			  this by connecting your interest in learning a subject with
			  the free means of learning that subject on the Internet.
			  <i>Where there's a will to learn, there's a way!</i></p>
		    <p>
			  <b>T</b>hrough the Internet, we now have access to both
			  a huge amount of information about many subjects and to
			  networks of people who share similar learning goals.
			  <span style="color: #ff9800">Free Study</span> connects you to those
			  learning resources through easy to browse categories. You
			  simply visit our site, find a subject, and start learning.</p>
		    <p>
			  <span style="color: #ff9800"><b>F</b>ree Study</span> was created with
			  the belief that one's learning ambitions should not be
			  limited. For everyone out there that has an interest in
			  many different subjects, but feels like they don't have
			  the time or means to pursue all of those learning goals,
			  we're here for you. If you have the will to learn it, we
			  can connect you with the means to do so, because <i>your
			  intelligence should only be driven by you</i>.
		    </p>
		    
		</div>
	  </div>
	  
    </div> <!-- end containter div -->
</section>