<!-- home Section -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome to Free Study</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Here at Free Study:</h3>
                    <ul>
                          <li><p>We connect you to free learning resources on the Internet</p></li>
                          <li><p>Where there's a will to learn, there's a way!</p></li>
                    </ul>
                    <h3>Visit our site, find a <a href="subjects.html" class="link">subject</a>, and start 
                    learning</h3>
                    <ul>
                          <li><p>Explore informational websites, resources, and social networks</p></li>
                          <li><p>Find your interest through easy to browse categories</p></li>
                    </ul>
                    <h3>Your learning ambitions should not be limited</h3>
                    <ul>
                          <li><p>Time or means don't have to stop you from learning something new</p></li>
                          <li><p>We believe that your intelligence should only be driven by 
                          you!</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>