<!-- Subjects Section -->
    <section class="success" id="subjects">
	  <div class="container">
	    <div class="row">
		  <div class="col-lg-12 text-center">
			<h2>Subjects</h2>
			<hr class="star-primary">
		  </div>
	    </div>
	    <div class="row">
		  <div class="col-lg-4 col-lg-offset-2">
			<p><strong>Where there's a will to learn, there's a way.</strong> We've gathered and organized some great free online learning 
			    tools. Use the links to explore paths to learning:
			</p>
			<table cellpadding="4">
			    <caption><h3>Science</h1></caption>
			    <tr>
				    <th>Subject</th>
				    <th>Subtopics</th>
				    <th>Site name</th>
				    <th>URL</th>
			    </tr>
			    <tr>
				    <td>Physics</td>
				    <td>mechanics, radiation, heat, electromagnetism, matter, quantum mechanics </td>
				    <td>The Feynman Lectures on Physics</td>
				    <td>
				    <a href="http://www.feynmanlectures.caltech.edu/" target="_blank">http://www.feynmanlectures.caltech.edu/</a></td>
			    </tr>
			    <tr>
				    <td>Law of Gravitation</td>
				    <td>&nbsp;</td>
				    <td>Richard Feynman Lecture on The Character of Physical Law(YouTube collection)</td>
				    <td>
				    <a href="https://www.youtube.com/watch?v=j3mhkYbznBk" target="_blank">
				    https://www.youtube.com/watch?v=j3mhkYbznBk</a></td>
			    </tr>
		    </table>
		    <br/><br/>
		    <table cellpadding="4">
			  <caption><h3>Technology</h3></caption>
			  <tr>
				  <th>Subject</th>
				  <th>Subtopics</th>
				  <th>Site name</th>
				  <th>URL</th>
			  </tr>
			  <tr>
				  <td>JavaScript</td>
				  <td>&nbsp;</td>
				  <td>Eloquent JavaScript</td>
				  <td>
				  <a href="http://eloquentjavascript.net/" target="_blank">
				  http://eloquentjavascript.net/</a></td>
			  </tr>
			  <tr>
				  <td>Web Development</td>
				  <td>Ruby, Ruby on Rails, HTML5 and CSS3, Javascript and JQuery</td>
				  <td>The Odin Project (beta)</td>
				  <td>
				  <a href="http://www.theodinproject.com/" target="_blank">
				  http://www.theodinproject.com/</a></td>
			  </tr>
			  <tr>
				  <td>Programming</td>
				  <td>Making a website, Rails, Ruby on Rails, AngularJS, Command Line, SQL, Java, Git, HTML &amp; CSS, JavaScript, JQuery, PHP, Python, Ruby, APIs</td>
				  <td>Codecademy</td>
				  <td>
				  <a href="https://www.codecademy.com/" target="_blank">
				  https://www.codecademy.com/</a></td>
			  </tr>
		    </table>
		    <br/><br/>
		    <table cellpadding="4">
			  <caption><h3>Math</h3></caption>
			  <tr>
				  <th>Subject</th>
				  <th>Subtopics</th>
				  <th>Site name</th>
				  <th>URL</th>
			  </tr>
			  <tr>
				  <td>(various)</td>
				  <td>Pre-Algebra, Algebra 1, Algebra 2, Geometry</td>
				  <td>Math Planet</td>
				  <td><a href="http://www.mathplanet.com/courses" target="_blank">
				  http://www.mathplanet.com/courses</a></td>
			  </tr>
			  <tr>
				  <td>(various)</td>
				  <td>Algebra, Arithmetic, Calculus, Differential equations, Discrete math, Linear algebra, Probability and statistics, Trigonometry, etc.</td>
				  <td>Patrick: Just Math Tutorials</td>
				  <td><a href="http://patrickjmt.com/" target="_blank">
				  http://patrickjmt.com/</a></td>
			  </tr>
			  <tr>
				  <td>Set Theory</td>
				  <td></td>
				  <td>George Hernandez: Set Theory</td>
				  <td><a href="http://www.georgehernandez.com/h/xzMisc/Math/Set-Theory.asp" target="_blank">
				  http://www.georgehernandez.com/h/xzMisc/Math/Set-Theory.asp</a></td>
			  </tr>
		    </table>
		    <br /><br />
		    <table cellpadding="4">
			  <caption><h3>Languages</h3></caption>
			  <tr>
				  <th>Subject</th>
				  <th>Subtopics</th>
				  <th>Site name</th>
				  <th>URL</th>
			  </tr>
			  <tr>
				  <td>American Sign Language</td>
				  <td>ASL lessons and resources</td>
				  <td>American Sign Language University</td>
				  <td><a href="http://lifeprint.com/index.htm" target="_blank">
				  http://lifeprint.com/index.htm</a></td>
			  </tr>
			  <tr>
				  <td>French</td>
				  <td>verbs, vocabulary, grammar, pronunciation, tenses, basics, songs, lessons, pronouns, diction</td>
				  <td>Learn French with Pascal (YouTube channel)</td>
				  <td class="ms-grid8-even">
				  <a href="https://www.youtube.com/channel/UCvirLHlKtDvRBB6mHDqgdpg" target="_blank">
				  https://www.youtube.com/channel/UCvirLHlKtDvRBB6mHDqgdpg</a></td>
			  </tr>
			  <tr>
				  <td>(various languages)</td>
				  <td>Spanish, French, German, Italian, Portuguese, Dutch, Iris, Danish, Swedish, Esperanto, Norwegian, Russian, Turkish, Ukrainian</td>
				  <td>Duolingo</td>
				  <td><a href="https://www.duolingo.com/" target="_blank">
				  https://www.duolingo.com/</a></td>
			  </tr>
		    </table>
		    <br /><br />
		    <table cellpadding="4">
			    <caption><h3>Fine Arts</h3></caption>
			    <tr>
				  <th>Subject</th>
				  <th>Subtopics</th>
				  <th>Site name</th>
				  <th>URL</th>
			    </tr>
			    <tr>
				    <td>Music Theory</td>
				    <td>Basics, Rhythm and meter, Scales and key signatures, Intervals, chords, Diatonic chords, Chord progressions, Neapolitan chords</td>
				    <td>MusicTheory.net</td>
				    <td><a href="http://www.musictheory.net/lessons" target="_blank">
				    http://www.musictheory.net/lessons</a></td>
			    </tr>
			    <tr>
				    <td>(various)</td>
				    <td>basics, Reading music, Ear training, Test prep, Improvisation, Sonic Pi</td>
				    <td>Dave Conservatoire</td>
				    <td><a href="http://www.daveconservatoire.org/" target="_blank">
				    http://www.daveconservatoire.org/</a></td>
			    </tr>
			    <tr>
				    <td>Music Theory</td>
				    <td>Reading music, Scales, Harmonic Functions, Intervals, Chords, Musical forms, Ear training Music theory, references </td>
				    <td>teor’a&nbsp;:&nbsp;Music Theory Web</td>
				    <td><a href="http://teoria.com/index.php" target="_blank">
				    http://teoria.com/index.php</a></td>
			    </tr>
		    </table>
		  </div>
	    </div>
	  </div>
    </div>
  </section>